body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
}
.orange-color{
            color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
        width: 80%;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.link-site {
    text-decoration: none;
        background: linear-gradient(45deg, lightSalmon, tomato);
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        color: white;
        font-weight: 700;
        border-radius: 80px;
    
}